<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Result</title>
    <link rel="stylesheet" href="../static/resultc.css">

</head>
<body>
    <div class="result-container">
        <h1>Congratulations!</h1>
        <p>Your Recommended Career Path:</p>
        <div class="result-box">
            <h2>{{ field }}</h2>
            <p>Based on your answers, we believe you are well-suited for a career in the <strong>{{ field }}</strong> field.</p>
            <p>Explore educational opportunities, career options, and skills development in this field.</p>
        </div>
       
    </div>
</body>
</html>
